name: Generate Snake

on:
  # run automatically every 6 hours
  schedule:
    - cron: "0 */6 * * *" 
  
  # allows to manually run the job at any time
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: Platane/snk@v3
        with:
          # github user name to read the contribution graph from (**required**)
          github_user_name: AkshitGarg24
  
          # list of files to generate.
          # Here we define the color palette to match TokyoNight/Dark themes
          # color_snake: The color of the snake head
          # color_dots: The 5 colors of the contribution squares (from empty to full)
          outputs: |
            dist/github-contribution-grid-snake.svg?color_snake=#70a5fd&color_dots=#161b22,#0e4429,#006d32,#26a641,#39d353
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=#70a5fd
            
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: crazy-max/ghaction-github-pages@v2.1.3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
